/* 1439px-769px */
@media (max-width: 1180px) {
  /* -------------------header-style----------------- */
  .container-header {
    padding-inline: 32px;
  }
  .header-burger-icon {
    display: block;
  }
  .header-menu {
    width: 200px;
    padding: 16px;
    position: fixed;
    top: 100px;
    left: -100%;
    background-color: var(--secondary-color-orange);
    transition: 0.3s linear;
  }
  .header-menu-items {
    flex-direction: column;
    row-gap: 8px;
  }
  /* -------------------page-1-section-2-styles------------------ */
  .page-1-section-2 {
    padding-inline: 32px 0px;
  }
  .page-1-section-2-article-container {
    overflow-x: scroll;
  }
  .page-1-section-2-article-card {
    flex: 1 0 272px;
  }
  /* ---------------------------page-2-section--------------------------- */
  .page-2-section-container {
    padding-inline: 32px;
  }
  /* -------------------page-2-products-catalog-section----------------- */
  .page-2-products-catalog-section {
    grid-template-columns: auto auto;
    grid-template-rows: 400px 400px;
  }
  .card-display-none-1180px {
    display: none;
  }
  /* ---------------------page-3-sections-container------------------ */
  .page-3-section-container {
    padding-inline: 32px;
  }
}
