/* main-style */
:root {
  /* --primary-color-black: 
  --primary-color-pink: 
  --primary-color-white: 
  --secondary-color-violet: ;
  --secondary-color-light-violet: 
  --secondary-color-light-pink: 
  --secondary-color-grey: */
  --font-family-main:"Inter", sans-serif
}
